extends layout

block content
  h1.header= title
  <br>
  .container
    each val in messages
      .usercontent
          h2 #{val.user}
          p.messagetext #{val.text}
          p.datetext #{val.added}
    a(href='/new' class='button') New Message
      i.fa.fa-pencil 